<ion-view view-title="Map">
    <ion-content class="general">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-assertive">
                Cancel
            </button>
        </div>
        
        <div id="map" data-tap-disabled="true"></div>
        <div class="row">
            <div class="col"><button class="button button-block button-balanced">
                    Waze <!--img src="img/waze.png"  style="width:20px;height:20px;"-->
            </button></div>
            <div class="col"><button class="button button-block button-balanced">
                Google Maps<!--img src="img/google_maps.png"  style="width:20px;height:20px;"-->
            </button></div>
        </div>
    </ion-content>
</ion-view>
