<ion-view view-title="Perfil">
    <ion-content>

        <div class="list">
            <div class="list card">
                <form ng-submit="getImageSaveContact()">
                <div class="item item-avatar">
                    <img src="{{collecion.selectedImage}}">
                    <button class="button button-light" type="submit">Editar imagen de perfil</button>
                </div>
                </form>
            </div>
            <form ng-submit="actualizarUsuario()">
                <label class="item item-input">
                    <span class="input-label ">Email</span>
                    <p>{{data.email}}</p>
                </label>
                <label class="item item-input">
                    <span class="input-label ">Nombre</span>
                    <p>{{data.name}} &nbsp; {{data.lastname}}</p>
                </label>
                <label class="item item-input">
                    <span class="input-label ">Contraseña Actual</span>
                    <input type="password" ng-model="data.Oldpassword">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nueva Contraseña</span>
                    <input type="password" ng-model="data.Newpassword">

                </label>
                <label class="item item-input">
                    <span class="input-label">Confirmar Contraseña</span>
                    <input type="password" ng-model="data.Newpassword2">

                </label>
                <label class="item">
                        <button class="button button-block button-positive" type="submit">Realizar Cambios</button>

                </label>
            </form>

        </div>

    </ion-content>
</ion-view>
