<ion-view view-title="Promos & Events">
    <ion-content> 
        <ion-tabs class="tabs-assertive tabs-icon-bottom">

            <ion-tab  title="Today" icon-on="ion-ios-clock" icon-off="ion-ios-clock">
                <ion-scroll>
                    <div class="list card">
                        <div class="item item-avatar">
                            <img src="img/antik.jpg">
                            <h2>Antik</h2>
                            <p>23 de Septiembre</p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="img/promoAntik.jpg">
                            <p>
                                ¡Esta noche en Antik!
                                Los recibe María Wabe en el warm up y Paulbee en nuestro sótano hasta la salida del sol.
                                Música variada al ritmo de Jorge Jenkins en el balcón. 10:00 p.m. Cover: 3000, chicas ingresan gratis antes de la media noche.
                                #antikcr #casamatute
                            </p>
                            <p>
                                <a href="#" class="subdued">26 Like</a>
                                <a href="#" class="subdued">5 Comments</a>
                            </p>
                        </div>

                    </div>
                    <div class="list card">    
                        <div class="item item-avatar">
                            <img src="img/vertigo.jpg">
                            <h2>Vertigo</h2>
                            <p>23 de Septiembre</p>
                        </div>
                        <div class="list cards">
                            <div class="item item-body">
                                <img class="full-image" src="img/promoVertigo.png">
                                <p>
                                    ¡Ya puedes adquirir la preventa especial 2x1 para disfrutar de Dennis Cruz por primera vez en Costa Rica!
                                    Preventa digital aquí: https://goo.gl/boVrn3
                                    Preventa efectivo: Ruta Urbana y en oficinas Club Vertigo
                                    Evento: Club Vertigo presenta: Dennis Cruz
                                    ¡Así iniciamos el mes de Halloween! ?? ?? #clubvertigocr
                                </p>
                                <p>
                                    <a href="#" class="subdued">100 Like</a>
                                    <a href="#" class="subdued">12 Comments</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Tab 1 content -->
                    </ion-scroll>
            </ion-tab>

            <ion-tab title="This Week" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar">



                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="This Month" icon-on="ion-ios-calendar-outline" icon-off="ion-ios-calendar-outline">
                <!-- Tab 3 content -->
            </ion-tab>

        </ion-tabs>


    </ion-content>
</ion-view>