<ion-view view-title="Lastest Promos">
    <ion-content>
        <div class="item item-avatar">
            <img src="img/antik.jpg">
            <h2>Antik</h2>
            <p>23 de Septiembre</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/promoAntik.jpg">
            <p>
                ¡Esta noche en Antik!
                Los recibe María Wabe en el warm up y Paulbee en nuestro sótano hasta la salida del sol.
                Música variada al ritmo de Jorge Jenkins en el balcón. 10:00 p.m. Cover: 3000, chicas ingresan gratis antes de la media noche.
                #antikcr #casamatute
            </p>
            <p>
                <a href="#" class="subdued">26 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>

        <div class="item item-avatar">
            <img src="img/vertigo.jpg">
            <h2>Vertigo</h2>
            <p>23 de Septiembre</p>
        </div>

        <div class="item item-body">
            <img class="full-image" src="img/promoVertigo.png">
            <p>
                ¡Ya puedes adquirir la preventa especial 2x1 para disfrutar de Dennis Cruz por primera vez en Costa Rica!
                Preventa digital aquí: https://goo.gl/boVrn3
                Preventa efectivo: Ruta Urbana y en oficinas Club Vertigo
                Evento: Club Vertigo presenta: Dennis Cruz
                ¡Así iniciamos el mes de Halloween! 😈 👻 #clubvertigocr
            </p>
            <p>
                <a href="#" class="subdued">100 Like</a>
                <a href="#" class="subdued">12 Comments</a>
            </p>
        </div>

    </ion-content>
</ion-view>