<ion-view view-title="Promos/Eventos">
    <ion-content> 
        <ion-tabs class="tabs-assertive tabs-icon-bottom">

            <ion-tab  title="Today" icon-on="ion-ios-clock" icon-off="ion-ios-clock">
                <ion-scroll>
                    <div class="list card" ng-repeat="hoy in today">
                        <div class="item item-avatar item-divider">
                            <img src="{{hoy.promoEvent.imagebase64}}">
                            <button class="button button-clear  button-dark" ng-click="infoEspecifica({{hoy.establishment.establishmentId}})">{{hoy.establishment.establishmentName}}</button>
                            <p>Fecha valida de: {{hoy.promoEvent.start_date| date}} - {{hoy.promoEvent.due_date| date}}</p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="{{hoy.promoEvent.imagebase64}}">
                            <h3>{{hoy.promoEvent.name}}</h3>
                            <p>
                                {{hoy.promoEvent.description}}
                            </p>

                        </div>

                    </div>
                    <!-- Tab 1 content -->
                </ion-scroll>
            </ion-tab>

            <ion-tab title="This Week" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar">
                <ion-scroll>
                    <div class="list card" ng-repeat="semana in week">
                        <div class="item item-avatar item-divider">
                            <img src="{{semana.promoEvent.imagebase64}}">
                            <button class="button button-clear  button-dark">{{semana.establishment.establishmentName}}</button>
                            <p>Fecha valida de: {{semana.promoEvent.start_date| date}} - {{semana.promoEvent.due_date| date}}</p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="{{semana.promoEvent.imagebase64}}">
                            <h3>{{semana.promoEvent.name}}</h3>
                            <p>
                                {{semana.promoEvent.description}}
                            </p>

                        </div>

                    </div>
                   
                </ion-scroll>


                <!-- Tab 2 content -->
            </ion-tab>

            <ion-tab title="This Month" icon-on="ion-ios-calendar-outline" icon-off="ion-ios-calendar-outline">
                <ion-scroll>
                    <div class="list card" ng-repeat="mes in month">
                        <div class="item item-avatar item-divider ">
                            <img src="{{mes.promoEvent.imagebase64}}">
                            <button class="button button-clear  button-dark">{{mes.establishment.establishmentName}}</button>
                            <p>Fecha valida de: {{mes.promoEvent.start_date| date}} - {{mes.promoEvent.due_date| date}}</p>
                        </div>

                        <div class="item item-body">
                            <img class="full-image" src="{{mes.promoEvent.imagebase64}}">
                            <h3>{{mes.promoEvent.name}}</h3>
                            <p>
                                {{mes.promoEvent.description}}
                            </p>

                        </div>

                    </div>
                    
                </ion-scroll>
                <!-- Tab 3 content -->
            </ion-tab>

        </ion-tabs>


    </ion-content>
</ion-view>