/* Empty. Add your own CSS if you like */
.heartIcon {
    color: #ff3b30;
}

.mapIcon {
    color: #0c60ee;
}

.starIcon {
    color: #cccc00;
}

.personIcon {
    color: #33cd5f;
}

.logoutIcon {
    color: #999;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 70%;
}

.estatico{
    position: fixed;
    
}


.contenidoTab{
    overflow-y: scroll;
    
}